body {
  background: #0a0a0a;
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

h1 {
  margin-top: 30px;
  color: #ff3b3b;
}

.form {
  margin: 20px;
}

input {
  padding: 12px;
  margin: 6px;
  border: none;
  border-radius: 6px;
}

button {
  padding: 12px 18px;
  background: #ff3b3b;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: darkred;
}

#playerList {
  max-width: 600px;
  margin: auto;
  padding: 0;
}

.playerCard {
  background: #151515;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(255,0,0,0.3);
}

/* Tier Colors */
.ht1 { color: #ff0000; }
.ht2 { color: #ff6600; }
.ht3 { color: #ffaa00; }
.lt1 { color: #00ffcc; }
.lt2 { color: #00aaff; }